## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates
*.userprefs

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.sln.ide/
packages/
*.nuget.props
*.nuget.targets

## JetBrains Rider
.idea/
*.sln.iml

## VS Code
.vscode/

## OS files
Thumbs.db
.DS_Store

## Native binaries (these come via NuGet)
runtimes/
